
/****************************/
/*          Global          */
/****************************/

:root {
    --navy01:           #020c1b;
    --navy02:           #0a192f;
    --navy03:           #172a45;
    --navy04:           #303C55;
    --navy-shadow:      rgba(2, 12, 27, 0.7);
    --slate01:          #8892b0;
    --slate02:          #a8b2d1;
    --slate03:          #ccd6f6;
    --white:            #e6f1ff;
    --green:            #64ffda;
    --green-tint:       rgba(100, 255, 218, 0.1);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--slate03);
}

html {
    background-color: var(--navy02);
}

body {
    box-sizing: border-box;
    padding: 0px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    min-width: 650px;
}

/****************************/
/*         Header           */
/****************************/

#Header table {
    position: relative;
    width: 100%;
}

#Header table tr {
    margin: 0px;
}

#Header #logo {
    position: relative;
    float: left;
    margin-right: 12px;
}

#Header #logo a {
    float: left;
    text-decoration: none;
    padding: 0px;
}

#Header #logo img {
    height: 80px;
    width: 80px;
    border: 1px solid var(--green);
}

#Header #navigation {
    position: relative;
    float: inline-end;
    vertical-align: bottom;
    right: 0%;
    bottom: 4px;
    
}

#Header #navigation nav {
    float: right;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--green);
}

#Header #navigation nav span a {
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px;
    border-radius: 6px;
}

#Header #navigation nav span a:hover {
    color: rgba(var(--green), 0.9);
    background-color: var(--green-tint);
}

#separator001 {
    margin: 0px;
    margin-top: 50px;
}

/****************************/
/*          Body            */
/****************************/

.column {
    display: inline-block;
}

.column#margin-left, .column#margin-right {
    width: 17%;
}

.column#center {
    width: 66%;
}

.column#center .section {
    position: relative;
    margin-bottom: 150px;
}

/****************************/
/*       Introduction       */
/****************************/

.section#Introduction {
    max-width: 800px;
}

.section#Introduction #name {
    display: inline-block;
    margin-top: 150px;
    margin-right: 11px;
    margin-bottom: 0px;
    font-size: 4em;
    font-weight: bold;
}

.section#Introduction #slogan {
    display: inline-block;
    margin: 0px;
    font-size: 4em;
    font-weight: bold;
}

.section#Introduction #blurb {
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 1.4em;
    color:var(--slate02);
}

.section#Introduction #email-button-box {
    height: 50px;
}

.section#Introduction #email-button {
    position: relative;
    float: right;
    padding: 10px;
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: 5px;
    border-style: solid
}

.section#Introduction #email-button:hover {
    background-color: var(--green-tint);
}

/****************************/
/*         About Me         */
/****************************/

.section#About_Me {
    max-width: 1000px;
    float: right;
}

.section#About_Me span {
    display: inline-block;
}

.section#About_Me span#left {
    position: relative;
    float: left;
    width: 30%;
}

.section#About_Me span#right {
    position: relative;
    float: left;
    width: 70%;
}

.section#About_Me img {
    position: relative;
    width: 90%;
    border-radius: 10px;
    border: 1px solid var(--green);
}

.section#About_Me #section-title {
    font-size: 2.5em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section#About_Me p {
    font-size: 1.2em;
}

/****************************/
/*         Projects         */
/****************************/

.section#Projects {
    clear: both;
}

.section#Projects p {
    font-size: 2em;
    margin-bottom: 0px;
}

.section#Projects table {
    padding: 20px;
}

.section#Projects thead th {
    padding-bottom: 20px;
}

.section#Projects table tbody a {
    text-decoration: none;
}

.section#Projects table td.Links {
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-left: 100px;
}

.section#Projects table td.Links img {
    padding: 5px;
    background-color: var(--green-tint);
    border: 1px solid var(--green);
    border-radius: 5px;
}
