* {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

html {
    background-color: rgba(0, 0, 0, 0.22);
}

.Header {
    height: 80px;
}

.Header img {
    height: 80px;
    width: 80px;
    border: 1px solid black;
}

.Header nav {
    right: 0px;
    float: right;
    border-bottom: 1px solid rgb(0,0,0);
}

.Main_Navigation ul{
    margin: 0px;
    padding: 0px;
    right: 0px;
}

.Main_Navigation li {
    display: inline-block;
    padding: .5em;
}

.Main_Navigation a {
    text-decoration: none;
    font-size: 1.1em;
}

.Main_Navigation a:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.Header img, nav {
    display: inline-block;
}