/*
    I really like this Mint Green color: rgba(105, 230, 191, 1)
*/
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}


html {
    background-color: rgba(0, 0, 0, 0.5);
}

.Header {
    height: 80px;
}

.Header nav {
    right: 0px;
    float: right;
}

.Main_Navigation ul{
    margin: 0px;
    padding: 0px;
    right: 0px;
}

.Main_Navigation li {
    display: inline-block;
}

.Main_Navigation a {
    text-decoration: none;
}

.Main_Navigation a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.Header img, nav {
    display: inline-block;
}

.Header hr {
    background-color: rgba(105, 230, 191, 1);
}
